.valorTotalCompra,
.valorCompra,
.quantTotalProdutos,
.quantProdutos,
.compra,
.titulo {
    display: flex;
    justify-content: center;
}
.valorCompra,
.quantProdutos{
    padding: 10px;
}

.lista {
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 10px;
    background-color: rgb(109, 109, 109);
}

.lista .listaItem li,
.lista .listaQuantidade li,
.lista .listaVlrUnit li,
.lista .listaTotalProduto li{
	list-style-type: none;
    padding-right: 14px;
}

.inserirProdutos,
.botao{
    display: flex;
    justify-content: center;
    padding: 1px;
}
.inserirProdutos,
.compra {
    justify-content: space-around;
}
.btn{
    border-radius: 15px;
    padding: 15px;
}
